/.vs/user_hv_comm_test/v16
/user_hv_comm_test/x64/Release/user_hv_.f1651c9c.tlog
/user_hv_comm_test/x64/Release
/x64/Release
/x64/Debug
/user_hv_comm_test/x64
/.vs/user_hv_comm_test/CopilotIndices/17.14.995.13737/*.db
/.vs/user_hv_comm_test/FileContentIndex/*.vsidx
/.vs/user_hv_comm_test/v17/*.db
/.vs/user_hv_comm_test/v17
